body {
  background-image: url("../img/background.png");
  overflow: hidden;
  font-family: Roboto;
}

.espaco {
  background-color: #b5b4f8;
  border: 2px solid #020067;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 53px;
  width: 53px;
  display: flex;
  z-index: 0;
}

.letra {
  background: #020067;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.enunciado {
  background: #020067;
  border-radius: 16px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.005em;
}

.fases {
  background: #2c73af;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.bloco-branco {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.bloco-lilas {
  background: #7b79f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.botao-redondo {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.cronometro {
  background: #ffffff;
  border-radius: 8px;
  color: black;
}

.faseX {
  border-radius: 4px;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}
